.login__email {
    border-bottom: 1px solid var(--cor-texto-label);
    border-radius: 6px;
    margin: 0.5em 0;
    padding: 1em 0.5em;
    width: 80%;
}

@media screen and (min-width: 768px) {
    .login__email {
            width: 40%
        }
    }